# {{ base_syslogd_cfg_file }}
# {{ ansible_managed }}

{# base_syslogd_cfg_defaults                                                  #}
{% for logfile, facility in base_syslogd_cfg_defaults.items()                 %}
{%  if base_syslogd_cfg[logfile] is defined                                   %}
{%    set facility = base_syslogd_cfg[logfile]                                %}
{%  endif                                                                     %}
{%  if logfile is search("NONE_.*") or logfile is search("ONLY_.*")           %}
{{ facility }}
{%  else                                                                      %}
{{ facility }} {{ logfile }}
{%  endif                                                                     %}
{% endfor                                                                     %}
{# base_syslogd_cfg_logs                                                      #}
{% for logfile, facility in base_syslogd_cfg.items()                          %}
{%  if logfile not in base_syslogd_cfg_defaults                               %}
{%    if logfile is search("NONE_.*") or logfile is search("ONLY_.*")         %}
{{ facility }}
{%    else                                                                    %}
{{ facility }} {{ logfile }}
{%    endif                                                                   %}
{%  endif                                                                     %}
{% endfor                                                                     %}

!*
{# base_syslogd_cfg_includes                                                  #}
{% for include in base_syslogd_cfg_includes                                   %}
include {{ include }}
{% endfor                                                                     %}
